<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated program -->
      <package
            uri="https://TDT4250/assignment/program"
            class="Program.ProgramPackage"
            genModel="model/program.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated program -->
      <parser
            type="program"
            class="Program.util.ProgramResourceFactoryImpl"/>
   </extension>

</plugin>
